.phase_two {
    display: none !important;
}
.screen, .dred_reasons, .form_date_wrapper, #empty_list, #empty_completed_list, .dred_reason button {
    display: none;
    &.active {
        display: block;
    }
}
.complete_button, .form_buttons, .reasons_header, .dred_ratings {
    display: none;
    &.active {
        display: flex;
    }   
}