.phase_two {
    display: none !important;
}
.screen, .dred_reasons,  #empty_list{
    display: none;
    &.active {
        display: block;
    }
}
.complete_button, .form_buttons, .reasons_header {
    display: none;
    &.active {
        display: flex;
    }   
}