
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.app {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}
header {
    height: 6vw;
    padding: 2vw 0 2vw 0;
}
section {
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    box-sizing: border-box;
    display: flex;
    border: 0;
}
form section {
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.scaff {
    margin: 0;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    &.one_col {
        flex-basis: 100%;
    }
    &.two_col {
        flex-basis: 50%;
        &.offset_left {
            flex-basis: 66%;
        }
        &.offsetted_one {
            flex-basis: 33%;
        }
        &.offset_left_two {
            flex-basis: 75%;
        }
        &.offsetted_two {
            flex-basis: 25%;
        }
    }
    &.three_col {
        flex-basis: 33%;
    }
}
.number_box {
    width: 100%;
    height: 15vw;
    text-align: center;
    border: solid 1px #FFFFFF;
}
.vertical_center {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.sub_scaff {
    display: flex;
}
.no_margin_bottom {
    margin-bottom: 0 !important;
}
.no_margin_top {
    margin-top: 0 !important;
}
.no_margin_bottom {
    margin-bottom: 0 !important;
}