---
title: "home"
---
<div id="screen_home" class="screen active">
    {{> home}}
</div>
<div id="screen_list" class="screen">
    {{> list}}
</div>
<div id="screen_completed_list" class="screen">
    {{> completed_list}}
</div>
<div id="screen_form" class="screen">
    {{> form}}    
</div>
<div id="screen_finished" class="screen">
    {{> finished}}
</div>
<div id="screen_stats" class="screen phase_two">
    {{> stats}}
</div>
<div id="screen_preferences" class="screen phase_two">
    {{> preferences}}
</div>
<div id="screen_help" class="screen">
    {{> help}}
</div>