<form id="dred_finished" action="">
    <section>
        <div class="scaff one_col">
            <p>how was <span id="dred_name"></span>?</p>
        </div>
    </section>
    <section class="reasons_header active">
        <div class="scaff three_col">
            <div class="radio_wrapper">
                <input class="inter_form dred_rating_button" data-action="set_dred_rating" type="button" name="specific" id="dred_rating_better" value="better than expected">
            </div>
        </div>
        <div class="scaff three_col">
            <div class="radio_wrapper">
                <input class="inter_form dred_rating_button activated" data-action="set_dred_rating" type="button" name="specific" id="dred_rating_as" value="as expected" checked="checked">
            </div>
        </div>
        <div class="scaff three_col">
            <div class="radio_wrapper">
                <input class="inter_form dred_rating_button" data-action="set_dred_rating" type="button" name="specific" id="dred_rating_worse" value="worse than expected" >
            </div>
        </div>
    </section>
    <section class="complete_button">
        <div class="scaff one_col">
            <button class="inter_form dred_rate"  data-action="submit_dred_rating" data-rating="">complete</button>
        </div>
    </section>
</form>