<form id="dred_add" action="">
    <section>
        <div class="scaff two_col">
            <button class="inter_nav form_back" data-target="list">back to dreds</button>
        </div>
        <div class="scaff two_col">
        </div>
    </section>
    <section>
        <div class="scaff one_col">
            <label for="name">name:</label>
            <input type="text" name="name" id="name" placeholder="what are you dreding?">
        </div>
    </section>
    <section class="form_date_wrapper">
        <div class="scaff one_col">
            <label for="due">date / due date (optional):</label>
            <input class="active" type="date" name="date" id="date" placeholder="mm/dd/yyyy">
        </div>
    </section>
    <section class="reasons_header active">
        <div class="scaff two_col offset_left">
            <label for="name">are there any specific reasons you're dreding this?</label>
        </div>
        <div class="scaff two_col offsetted_one">
            <div class="radio_wrapper">
                <label for="specific">yes</label>
                <input class="inter_form" data-action="toggle_yes" type="radio" name="specific" id="radio_yes" value="y">
            </div>
            <div class="radio_wrapper">
                <label for="specific">no</label>
                <input class="inter_form" data-action="toggle_no" type="radio" name="specific" id="radio_no" value="n" checked="checked">
            </div>
            <input type="hidden" name="specific_reasons" id="specific_reasons" value="n">
        </div>
    </section>
    <div class="dred_reasons">
        <section>
            <div class="scaff one_col">
                <label class="reasons_label" for="name">feel free to list as many reasons why:</label>
            </div>
        </section>
        <section class="dred_reason" id="dred_reason_template" data-position="1">
            <div class="scaff two_col offset_left_two">
                <input type="text" name="dr1" id="dr1">
            </div>
            <div class="scaff two_col offsetted_two">
                <button class="inter_form active" data-action="add_reason">+</button>
            </div>
        </section>
    </div>
    <section class="dred_ratings">
        <div class="scaff one_col">
            <p>You felt this went <span id="form_dred_rating"></span></p>
        </div>
    </section>
    <section class="form_buttons">
        <div class="scaff two_col">
            <input type="hidden" name="id" id="id" value="">
            <button class="inter_form" data-action="submit_dred">save dred</button>
        </div>
        <div class="scaff two_col remove_dred_wrapper">
            <button class="inter_form dred_remove" data-action="remove_dred">delete dred</button>
        </div>
    </section>
    <section>
        <div class="scaff one_col">
            <p class="alert" id="form_err_msg"></p>
        </div>
    </section>
    <section class="complete_button">
        <div class="scaff one_col">
            <button class="inter_form dred_complete"  data-action="complete_dred">complete</button>
        </div>
    </section>
</form>