<section>
    <div class="scaff two_col">
        <button class="inter_nav" data-target="home">back</button>
    </div>
    <div class="scaff two_col">
    </div>

</section>
<section>
    <div class="scaff one_col">
        <span class="label_small">notes:</span>
        <ol>
            <li>nnd:  nnd stands for 'need not dred.'  this is calculated by comparing the number of dreds where the outcome was more positive than you expected and the total number of completed dreds.  the higher this percentage, the less you need to worry!  if the percentage is low, you might be overextending yourself socially.</li>
            <li>please also remember that the more dreds you have entered, the more accurate these percentages will be.  a sample size of 10 dreds doesn't tell nearly as much as say 100.</li>
        </ol>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <p class="alert">This button will delete all dreds without confirmation.  Please be careful.</p>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <button class="debug">DEBUG: Clear all dreds</button>
    </div>
</section>