<section>
    <div class="scaff two_col">
        <span class="label_large">
            currently dreding:
        </span>
    </div>
    <div class="scaff two_col">
        <span class="label_large number_box vertical_center" id='dred_num'></span>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <button class="inter_nav" data-target="form">+ add new</button>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <button class="inter_nav" data-target="list">currendly dreding</button>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <button class="inter_nav" data-target="completed_list">dreds overcome</button>
    </div>
</section>
<section>
    <div class="scaff two_col">
        <span class="box_label">completion rate</span>
        <span class="label_large number_box vertical_center" id="completion_rate"></span>
    </div>
    <div class="scaff two_col">
        <span class="box_label">nnd rate</span>
        <span class="label_large number_box vertical_center" id="nnd_rate"></span>
    </div>
</section>
<section class="no_margin_bottom phase_two">
    <div class="scaff one_col">
        <span class="label_small">
            your most common causes of dred:
        </span>
    </div>
</section>
<section class="no_margin_top phase_two">
    <div class="scaff two_col">
        <ol>
            <li>reason #1</li>
            <li>reason #2</li>
            <li>reason #3</li>
            <li>reason #4</li>
        </ol>
    </div>
    <div class="scaff two_col">
        <ol>
            <li>reason #5</li>
            <li>reason #6</li>
            <li>reason #7</li>
            <li>reason #8</li>
        </ol>
    </div>
</section>
<section class="phase_two">
    <div class="scaff one_col">
        <button class="inter_nav" data-target="stats">view all statistics</button>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <button class="inter_nav" data-target="help">help</button>
    </div>
</section>