<section>
    <div class="scaff two_col">
        <button class="inter_nav" data-target="home">back home</button>
    </div>
    <div class="scaff two_col">
        <button class="inter_nav phase_two" data-target="stats">view stats</button>
    </div>
</section>
<section>
    <div class="scaff one_col">
        <ol id="dred_list">
        </ol>
        <p class="alert active" id="empty_list">Nothing to dred!</p>
    </div>
</section>